*{
    margin:0;
    padding:0;
}
input{
 outline: none;
}
a{
    text-decoration: none;
    color: #fff;
}
html{
    width: 100%;
    height:100%;
    font-size: 62.5%;
}
body{
    width:100%;
    height:100%;
    font-size: 1.6rem;
    font-family: "microsoft yahei";
}
div.register{
    width:100%;
    height:100%;
    background-image: url(images/bg.jpg);
    background-size: 100%;
    min-width: 320px;
    max-width:1024px;
}
div.register .logo{
    height:52.32%;
}
div.register .logo img{
    position: absolute;
    left: 30.66%;
    top:20.77%;
    width: 11.5rem;
    height:11.5rem;
    border-radius: 50%;
    box-shadow: 0 0 0 1.5rem rgba(255,255,255,0.2);
}
div.register .input{
    position: absolute;
    width:85%;
    height: 47.67%;
    padding: 0 6.6%;
    /*text-align: center;*/
}
div.register .input .a{
    font-size:1.3rem ;
    margin-left: 68%;
}
div.register .input .bg{
    background-image:url(images/xx_03.png);
    background-size: 100% 100%;
    width: 100%;
    margin-top: 1.3rem;
}
div.register .input .bg p{
    padding-left: 2.5rem;
    font-size: 1.4rem;
}
div.register .input label{
    color:white;
}

div.register .input .pw,div.register .input .t{
    font-size: 1.4rem;
    display:inline-block;
    color: #fff;
    background: none;
    border:0;
    padding: 7.5% 0;
    width: 50%;
}

div.register .input p a{
    display:inline-block;
    font-size:1.3rem ;
    padding-right:2.5rem;
}
div.register .input .logBtn{
    z-index: 100;
    width: 100%;
    font-size: 1.8rem;
    padding: 2.82% 0;
    text-align: center;
    background:#e75280 ;
    color: #fff;
}
div.register .input .link{
    padding:6%  0;

}
div.register .input .link a{
    font-size:1.2rem ;
    position: absolute;
    left:3rem;
}
div.register .input .link .right{
    background-image:url(images/xb_07.png) ;
    background-size: 1.2rem 1.2rem;
    background-repeat: no-repeat;
    padding-left:1.3rem ;
    margin-left: 60%;
}
@media (min-device-width : 375px) and (max-device-width : 413px) and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 71.5%; }
}
/* iphone6 plus */
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    html{font-size:80.592%;}
}
@media only screen and (min-width:750px) {
    html { font-size:140.9%; }
}
/* 320*360 */
@media (min-device-width : 360px) and (max-device-width : 374px) and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 71%; }
}

/* 320*360 */
@media (min-device-width : 320px)and (max-device-width : 359px)and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 62%; }
}