*{
    margin:0;
    padding:0;
}
input{
 outline: none;
}
a{
    text-decoration: none;
    color: #fff;
}
html{
    width: 100%;
    height:100%;
    font-size: 62.5%;
}
body{
    width:100%;
    height:100%;
    font-size: 1.6rem;
    font-family: "microsoft yahei";
}
div.start{
    width:100%;
    height:100%;
    background-image: url(images/bg.jpg);
    background-size: 100% 100%;
    min-width: 320px;
    max-width:1024px;
}
div.start .logo{
    height:53%;

}
div.start .logo img{
    position: absolute;
    left: 50%;
    top:23%;
    width: 10rem;
    height:10rem;
    margin-left: -5rem;
}
div.start .input{
    position: absolute;
    width:85%;
    height: 47%;
    padding: 0 7.5%;
    /*text-align: center;*/
}
div.start .input .a{
    font-size:1.3rem ;
    margin-left: 70%;
}
div.start .input .bg{
    background-image:url(images/xx_03.png);
    background-size: 100% 100%;
    width: 100%;
    margin-top: 2%;
}
div.start .input .bg p{
    height: 4rem;
padding-left: 2rem;
font-size: 1.4rem;
}
div.start .input label{
    color:white;
}

div.start .input .pw,div.start .input .t{
    font-size: 1.4rem;
    display:inline-block;
    color: #fff;
    background: none;
    border:0;
    height:4rem;
    width: 55%;
    line-height:4rem;
    padding-left:0.5rem;
}
div.start .input .pw{
    height: 3.9rem;
}

div.start .input p a{
    font-size:1.3rem ;
    /*padding-left:-6rem;*/
}
div.start .input .logBtn{
    width: 100%;
}
div.start .input .logBtn .btn{
    /*width:25.5rem;*/
    width: 100%;
    height:4rem;
    line-height:4rem;
    border:none;
    color: #fff;
    font-size: 1.6rem;
    background-color: #e75280;
    text-align: center;
    display: block;
    font-family: "microsoft yahei";
}
div.start .input .link{
    padding-top:6% ;

}
div.start .input .link a{
    font-size:1.2rem ;
    position: absolute;
    left:3rem;
}
div.start .input .link .right{
    background-image:url(images/xb_07.png) ;
    background-size: 1.2rem 1.2rem;
    background-repeat: no-repeat;
    padding-left:1.2rem ;
    margin-left: 60%;
}
@media (min-device-width : 375px) and (max-device-width : 413px) and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 71.5%; }
}
/* iphone6 plus */
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    html{font-size:80.592%;}
}
@media only screen and (min-width:737px) {
    html { font-size:140%; }
}
/* 320*360 */
@media (min-device-width : 360px) and (max-device-width : 374px) and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 71%; }
}

/* 320*360 */
@media (min-device-width : 320px)and (max-device-width : 359px)and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 62%; }
}